* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--light-bg);
  color: var(--black);
  line-height: 1.6;
}

section {
  padding: 80px 20px;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

button {
  cursor: pointer;
  transition: var(--transition);
}
